body{
	background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(image.jpg);
	background-size: fill;
	background-position: center;
} 

.login-box{
	max-width: 700px;
	float: none;
	margin: 100px auto;
}

.login-left{
	background-color: rgba(211, 211, 211, 0.5);
	padding: 30px;
}

.login-right{
	background-color: #fff;
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}

.eroras{
	color: red;
	font-family: sans-serif;
	font-size: 20px;
}